
body {background-color: black;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:gray;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    text-align: center;
    align-content: center;
}

label,button{
    justify-self: left;
    margin-left: 10rem;
}

input,span{
    justify-self: left;
}

form{
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(4,auto);
    row-gap: 0.8em;
    justify-self: center;
}

#principal_container{
    display: flex;
    flex-direction: column;
    width:fit-content;
    background-color: white;
    margin: 0 auto;
    border-radius: 2em;
    padding: 30px;
}

footer{
    text-align: left;
}

select{
    width:13%
}


