
body {background-color: black;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    text-align: center;
    align-content: center;
}

label,button{
    justify-self: right;
    width:9em;
    text-align: left;  
}

button{
    justify-self: center;
    margin-left: 6em;
}

input,span{
    justify-self: left;
}

form{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4,auto);
    row-gap: 0.8em;
    justify-self: center;
}

#principal_container{
    width:500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
    border-radius: 2em;
    padding: 30px;
    margin-left: auto;
}

footer{
    text-align: left;
}

select{
    width:4em;
}


